.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container {
    width: 100%; 
}
.colerror { 
    display: inline-block;
    margin-top: 8px;
    float:right;
    width:25%;
    overflow:hidden;
    margin-right: 400px;
    align-items: center;
}
.left{
    float:left;
    width:75%;
    overflow:hidden;
    margin: 0;
    align-items: center;
}
